<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% block style %}

<script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

<link type="text/css" href="/static/styles/bottom.css" rel="stylesheet" />
<link type="text/css" href="/static/styles/base.css" rel="stylesheet" />
<script type="text/javascript" src="/static/lib/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/static/lib/jquery.pikachoose.js"></script>
<script type="text/javascript" src="/static/lib/jquery.touchwipe.min.js"></script>
<!-- the music playing function-->
<script type="text/javascript" src="/static/js/jquery.jplayer.min.js"></script>

<script type="text/javascript" src="/static/js/jplayer.playlist.min.js"></script>
<link rel="stylesheet" href="/static/css/main.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/jplayer.blue.monday.css" type="text/css" media="all"/>

<script language="javascript">
    $(document).ready(function (){

                   // alert("success");
                   
                    $("#pikame").PikaChoose({showTooltips:true});


                
     alert("success");

    /*$("#jquery_jplayer_1").jPlayer(
    {
        ready:function(){
            $(this).jPlayer("setMedia",{
                mp3:"/static/media/When.mp3",
            }).jPlayer("play");
        },
        
        swfPath:"/static/js",
        supplied:"mp3"
    })
    .bind($.jPlayer.event.play, function() { // pause other instances of player when current one play
            $(this).jPlayer("pauseOthers");
        });
        alert("again");
});*/






        </script>

{% endblock %}

{% block subcontent %}
      
      <body bgcolor="silver">
<!--div class="row" id="photo-gallery">
    
    <a class="active" href="/eye/galler.html">jump to other place</a>
</div>

<div id="pins">
    
    
{% for photo in photos %}
    <div class="pin" data-id="{{photo.id}}">
        <a href="/media/upload/{{photo.imgurl}}" data-lightbox="image-1" data-id="{{photo.id}}" style="background: #775b4e">
              <div class="image-wrapper">

                  <img src="/media/upload/{{photo.imgurl}}"/>
              </div>
            </a>
            <p>{{photo.description}}</p>
            <div class="pin-footer">
                <div class="avatar pull-left">
                  {% for tag in photo.tags.slugs%}
                    {{tag}}
                  {% endfor %}
                </div>
                <div class="text pull-right">
                    <span class="dim">by</span>
                    <a href="fake">{{photo.user.username}}</a>
                </div>
            </div>
    </div>

    {% endfor %}
    </div>
</ul>
</div-->
<div class="pikachoose">

<ul id="pikame">
    {% for photo in photos %}
    
        <li><img src="/media/upload/{{photo.imgurl}}"/><span>{{photo.description}}</span></li>
              
            <!--div class="pin-footer">
                <div class="avatar pull-left">
                  {% for tag in photo.tags.slugs%}
                    {{tag}}
                  {% endfor %}
                </div>
                <div class="text pull-right">
                    <span class="dim">by</span>
                    <a href="fake">{{photo.user.username}}</a>
                </div>
            </div-->


    {% endfor %}

   
</ul>
<div>
    <a href="/eye/">Back to homestream</a>
    <a href="/eyeapp/test_media.html">GOO</a>
    </div>
</div>


    
        <div class="players">
            <div class="jp-audio">
            

             <div class="jp-type-single">
                <div id="jquery_jplayer_1" class="jp-player"></div>
                <div id="jp_container_1" class="jp-interface">
                <ul class="jp-controls">
                    <li><a href="#" class="jp-play" tabindex="1">play</a></li>
                    <li><a href="#" class="jp-pause" tabindex="1">pause</a></li>
                </ul>
                <div>
            </div>
        </div>
    </div>




 


<script id="pin-form-template" type="text/x-handlebars-template">
        <div class="modal fade" id="pin-form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">New Photo</h3>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-6" id="pin-form-image-preview"><img src="" height="300" width="250"></div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="pin-form-image-url">Image URL</label>
                                <input type="text" name="pin-form-image-url" id="pin-form-image-url" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="pin-form-image-upload">Image Upload</label>
                                <div id="pin-form-image-upload"></div>
                            </div>
                            <div class="form-group">
                                <label for="pin-form-description">Description</label>
                                <textarea name="pin-form-description" id="pin-form-description" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="pin-form-tags">Tags</label>
                                <input type="text" name="pin-form-tags" id="pin-form-tags" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" id="pin-form-close">Cancel</a>
                        <button type="submit" class="btn btn-primary" id="pin-form-submit">Post Pin</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/js/jquery-1.10.2.min.js"></script-->
<script src="/static/js/lightbox-2.6.min.js"></script>
<script src="/static/vendor/handlebars/1.0.0/handlebars.js"></script>
<!--script src="/static/vendor/bootstrap/3.0.0/js/bootstrap.js"></script>
<script src="/static/vendor/fineuploader/3.1.1/jquery.fineuploader.js"></script>
<script src="/static/js/messages.js"></script>
<script src="/static/js/helpers.js"></script>
<script src="/static/js/pin-form.js"></script>
<script src="/static/js/pinry.js"></script>
<script src="/static/js/myjs.js"></script-->

{% endblock subcontent %}



</body>
</html>